<a href="https://colab.research.google.com/github/YosukeSugiura/datamining-excercise/blob/master/Label2Value.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
cd /content/drive/MyDrive/Colab Notebooks

/content/drive/MyDrive/Colab Notebooks

## ラベルをテキストから数値(整数)に変換するコード
データ解析において、文字データをそのまま扱うことが難しい場合があります。
例えば、回帰問題や分類問題など…

その場合、このコードでテキストを数値に変換しましょう。

---
ここでは例として、`car_price.csv`のラベルを変換してみます。
以下のサイトからcsvアイルを入手してください。

car_price.csv \\
https://github.com/YosukeSugiura/datamining-excercise/blob/master/5_excercise/car_price.csv


> 参考まで、下記はオリジナルデータセットを提供する Kaggle のサイトです。
>
>car_price dataset (original) \\
>https://www.kaggle.com/datasets/ngawangchoeda/car-price-dataset

In [ ]:
#
#   Transform Class Name to Class Value
#
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

# データ読み込み
file_name = 'car_price.csv'
data = pd.read_csv(file_name)
keys = data.keys()      # キー(項目)の名前を取得

# データのコピー
data_new = data.copy()

# pandas形式からリスト形式に変換
att  = keys[2]          # 変換したいキー(項目)を指定
data_pds = data[att]    # extract a column
data_lst = list(data_pds.values)

# データの確認
le = LabelEncoder()     # Label Encoder Obj
le.fit(data_lst) 
print('\nTotal {0} types.'.format(len(le.classes_)))

# テキストから数値に変換
data01 = le.transform(data_lst)

# 表示
print('[ ID : `{0}` ]'.format(att))
for i, name in enumerate(le.classes_):
  print(' - {0}: {1}'.format(i, name))

# データの上書き
data_new[att] = data01

# データの保存
data_new.to_csv(file_name, index=False)
print('Complete Overwriting')

Total 147 types.
[ ID : `CarName` ]
 - 0: Nissan versa
 - 1: alfa-romero Quadrifoglio
 - 2: alfa-romero giulia
 - 3: alfa-romero stelvio
 - 4: audi 100 ls
 - 5: audi 100ls
 - 6: audi 4000
 - 7: audi 5000
 - 8: audi 5000s (diesel)
 - 9: audi fox
 - 10: bmw 320i
 - 11: bmw x1
 - 12: bmw x3
 - 13: bmw x4
 - 14: bmw x5
 - 15: bmw z4
 - 16: buick century
 - 17: buick century luxus (sw)
 - 18: buick century special
 - 19: buick electra 225 custom
 - 20: buick opel isuzu deluxe
 - 21: buick regal sport coupe (turbo)
 - 22: buick skyhawk
 - 23: buick skylark
 - 24: chevrolet impala
 - 25: chevrolet monte carlo
 - 26: chevrolet vega 2300
 - 27: dodge challenger se
 - 28: dodge colt (sw)
 - 29: dodge colt hardtop
 - 30: dodge coronet custom
 - 31: dodge coronet custom (sw)
 - 32: dodge d200
 - 33: dodge dart custom
 - 34: dodge monaco (sw)
 - 35: dodge rampage
 - 36: honda accord
 - 37: honda accord cvcc
 - 38: honda accord lx
 - 39: honda civic
 - 40: honda civic (auto)
 - 41: honda civic 1300
 - 42: honda civic 1500 gl
 - 43: honda civic cvcc
 - 44: honda prelude
 - 45: isuzu D-Max
 - 46: isuzu D-Max V-Cross
 - 47: isuzu MU-X
 - 48: jaguar xf
 - 49: jaguar xj
 - 50: jaguar xk
 - 51: maxda glc deluxe
 - 52: maxda rx3
 - 53: mazda 626
 - 54: mazda glc
 - 55: mazda glc 4
 - 56: mazda glc custom
 - 57: mazda glc custom l
 - 58: mazda glc deluxe
 - 59: mazda rx-4
 - 60: mazda rx-7 gs
 - 61: mazda rx2 coupe
 - 62: mercury cougar
 - 63: mitsubishi g4
 - 64: mitsubishi lancer
 - 65: mitsubishi mirage
 - 66: mitsubishi mirage g4
 - 67: mitsubishi montero
 - 68: mitsubishi outlander
 - 69: mitsubishi pajero
 - 70: nissan clipper
 - 71: nissan dayz
 - 72: nissan fuga
 - 73: nissan gt-r
 - 74: nissan juke
 - 75: nissan kicks
 - 76: nissan latio
 - 77: nissan leaf
 - 78: nissan note
 - 79: nissan nv200
 - 80: nissan otti
 - 81: nissan rogue
 - 82: nissan teana
 - 83: nissan titan
 - 84: peugeot 304
 - 85: peugeot 504
 - 86: peugeot 504 (sw)
 - 87: peugeot 505s turbo diesel
 - 88: peugeot 604sl
 - 89: plymouth cricket
 - 90: plymouth duster
 - 91: plymouth fury gran sedan
 - 92: plymouth fury iii
 - 93: plymouth satellite custom (sw)
 - 94: plymouth valiant
 - 95: porcshce panamera
 - 96: porsche boxter
 - 97: porsche cayenne
 - 98: porsche macan
 - 99: renault 12tl
 - 100: renault 5 gtl
 - 101: saab 99e
 - 102: saab 99gle
 - 103: saab 99le
 - 104: subaru
 - 105: subaru baja
 - 106: subaru brz
 - 107: subaru dl
 - 108: subaru r1
 - 109: subaru r2
 - 110: subaru trezia
 - 111: subaru tribeca
 - 112: toyota carina
 - 113: toyota celica gt
 - 114: toyota celica gt liftback
 - 115: toyota corolla
 - 116: toyota corolla 1200
 - 117: toyota corolla 1600 (sw)
 - 118: toyota corolla liftback
 - 119: toyota corolla tercel
 - 120: toyota corona
 - 121: toyota corona hardtop
 - 122: toyota corona liftback
 - 123: toyota corona mark ii
 - 124: toyota cressida
 - 125: toyota mark ii
 - 126: toyota starlet
 - 127: toyota tercel
 - 128: toyouta tercel
 - 129: vokswagen rabbit
 - 130: volkswagen 1131 deluxe sedan
 - 131: volkswagen 411 (sw)
 - 132: volkswagen dasher
 - 133: volkswagen model 111
 - 134: volkswagen rabbit
 - 135: volkswagen rabbit custom
 - 136: volkswagen super beetle
 - 137: volkswagen type 3
 - 138: volvo 144ea
 - 139: volvo 145e (sw)
 - 140: volvo 244dl
 - 141: volvo 245
 - 142: volvo 246
 - 143: volvo 264gl
 - 144: volvo diesel
 - 145: vw dasher
 - 146: vw rabbit
Complete Overwriting